:root {
    --dark-text: rgb(53, 53, 67);
    --light-text: white;
    --grey-text:rgb(119, 119, 119);
    /* --hover-link: rgb(45, 109, 212); */
    --background-col: #2B3A55;
    --shadow-col:#CE7777;
}

body{
    background-color: var(--background-col);
    margin:0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
.cardblock{
    margin-left: 100px;
    margin-right:100px;
    margin-top:20px;
    display:grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
}

.book{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    width: fit-content;
    background-color: #F2E5E5;
    width: 48%;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 265px;
    box-shadow: 5px 5px 1px var(--shadow-col);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: linear-gradient(left, var(--shadow-col),#86A3B8 2%, transparent 2%, transparent 100%);
    background-image: -webkit-linear-gradient(left, var(--shadow-col), #86A3B8 2%, transparent 2%, transparent 100%);
     */
}
.section-title{
    color:white;
    font-size: 22px;
    font-weight: 400;
    grid-column: 1 / -1;
    margin: 35px 30px 15px 30px;
}
.controls{
    display:flex;

}
#github-logo{
    width:18px;
    height:18px;
}
#github-logo:hover{
    transition:.5s;
    filter: brightness(125%);
}
#footer{
    color:white;
    display:flex;
    align-items: center;
    position:absolute;
    bottom:0;
    gap:10px;
}
#control-buttons{
    font-family: monospace;
    display:flex;
    align-items:center;
    justify-content: center;
    height:40px;
    width: 120px;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 1px #89C4E1;
    outline: none;
}
#control-buttons:hover{
    transition:.5s;
    background-color: #dff4ff;
    color:#CE7777;
}
.buttonz{
    display:flex;
}
#cardbuttons{
    font-family: monospace;
    display:flex;
    align-items:center;
    justify-content: center;
    height:40px;
    width: 30px;
    font-size: 15px;
    /* background-color: hsl(0, 0%, 100%); */
    /* box-shadow: 5px 5px 1px #89C4E1; */
    /* outline: none; */
}
#deletebutton{
    width:15 !important;
}